@CHARSET "UTF-8";
body{
	height: 200px;
}
div{
	float:left;	
	margin: 3px;
}
#header{
	background: darkblue;
	width: 100%;
	height: 25%;
}
#container{
	background: green;
	width: 80%;
	height: 60%;
	margin-left:9%;
}
#left_footer{
	background: red;
	width: 40%;
	height:15%; 
	margin-left:9%;
}

#right_footer{
	background: blue;
	width:40%;
	height:15%;
}